main {
    width: 1680px;
    height: 2122px;
    flex-grow: 0;
    padding: 0 0 87px;
    background-color: #fff;
}

.\- {
    width: 1680px;
    height: 943px;
    margin: 0 0 123px;
    padding: 63px 62px 788px 71px;
}

.Kseniia-Antipina {
    width: 180px;
    height: 92px;
    flex-grow: 0;
    margin: 0 782px 0 0;
    font-family: Roboto;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
}

.About {
    width: 78px;
    height: 26px;
    flex-grow: 0;
    margin: 0 59px 66px 782px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
}

.Artworks {
    width: 126px;
    height: 26px;
    flex-grow: 0;
    margin: 0 43px 66px 59px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
}

.Exhibitions {
    width: 143px;
    height: 26px;
    flex-grow: 0;
    margin: 0 28px 66px 43px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
}

.Contact {
    width: 108px;
    height: 26px;
    flex-grow: 0;
    margin: 0 0 66px 28px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
}

.main-photo {
    width: 586px;
    height: 516px;
    margin: 123px 135px 174px 142px;
}

.BIOGRAPHY {
    width: 529px;
    height: 37px;
    margin: 123px 288px 14px 135px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

span.bio-text {
    width: 725px;
    height: 490px;
    margin: 14px 92px 149px 135px;
    font-family: Barlow;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.footer {
    width: 1475px;
    height: 278px;
    margin: 150px 134px 0 71px;
    padding: 65px 1128px 0 2px;
}

.GET-in-Touch {
    width: 345px;
    height: 53px;
    flex-grow: 0;
    margin: 0 0px 0 0;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.Artist-management {
    width: 345px;
    height: 53px;
    flex-grow: 0;
    margin: 53px 0px 0 0;
    padding: 26px 0 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #c1bebe;
}

.Kirill-ZOnov {
    width: 345px;
    height: 27px;
    flex-grow: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #c1bebe;
}

.advt.kagmailcom {
    width: 345px;
    height: 27px;
    flex-grow: 0;
    margin: 53px 0px 53px 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #c1bebe;
}

.Copyright-2023 {
    width: 345px;
    height: 27px;
    flex-grow: 0;
    margin: 53px 0px 0 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #c1bebe;
}
